# =========================
# Build output
# =========================
target/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
application-local.yml
application-local.properties

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store

# =========================
# Maven
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# Gradle
# =========================
.gradle/

# =========================
# Lombok
# =========================
.lombok
